

body{
    margin: 3%;
    font-family: Helvetica;
    background-color: rgb(211, 210, 208);
    
}
header {
    font-family: fantasy;
    

}
#home-buttons-container {
    background-color: darkred;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
.photo-text-container {
    display: flex;

    margin-top: 14px ;
    align-items: stretch;
    
}


.photo-text-container img {
    max-width: 20%;
    max-height: fit-content;
    margin-right: 15px;
}
.photo-text-container div h {
    margin-top: auto;
    font-size: xx-large;
}
.photo-text-container div p {
    margin-bottom: auto
}
.top-products-container {
    display: inline-block;
    width: 50%;

}
.products-ways-container {
    display: flex;
    flex-direction: row;
}
.products-ways-container div {
    margin-left: 60px;
}


.images * {
    max-width: 14%;

    margin-right: 20px;
}

/*

.img-article-container{
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
    justify-content: space-around;
    align-items: center;
}

.img-article-container span {
    display: inline-block;
    width: 50%;
}

nav a {
    margin: 0px 7%;
    color: white;
    font-weight: bold;
}
   



    */